.verde {
    color: #10A8AB;
}

.vermelho {
    color: #E84C62;
}

.numero {
    font-family: 'Rubik', sans-serif;
    font-size: 1.875rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.container div {
    background-color: #394165;
    width: 30%;
    height: 382px;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* .container div:nth-child(1) {
    background-color: #10A8AB;
} */

.container div:nth-child(2) {
    width: 61.5%;
}

.status-servico {
    height: 120px;
    width: 120px;
    margin-bottom: 60px;
}

.grafico {
    width: 98%;
}

.legenda {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px 0 24px;
}

.legenda-verde {
    background-color: #10A8AB !important;
}

.legenda-amarela {
    background-color: #EDBA45 !important;
}

.legenda-vermelha {
    background-color: #E84C62 !important;
}

.min-max {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.min-max img {
    height: 16px;
    width: 18px;
    text-align: left;
    margin-right: 4px;
}